<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <!--      One of three columns-->
    </div>
    <div class="col-sm-8">
      <div mat-dialog-content>
        <h1 mat-dialog-title>Start Order Process</h1>
        Would you like to start a new Order Process?
      </div>
      <div mat-dialog-actions>
        <div class="row">
          <div class="col-sm-6">
            <button class="btn btn-secondary" mat-button mat-dialog-close type="button">No</button>
          </div>
          <div class="col-sm-6">
            <button (click)="startProcess()" cdkFocusInitial class="btn btn-success" mat-button mat-dialog-close type="button">Yes!</button>
          </div>
        </div>
      </div>
      <p></p>
    </div>
  </div>
  <div class="col-sm-2">
    <!--      One of three columns-->
  </div>
</div>

