<app-client></app-client>


<div class="container-fluid">
  <!-- row 4x4x4-->
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <p start>Your Order is accepted! Please follow the Status below:</p>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Order Id</th>
          <th scope="col">Client Name</th>
          <th scope="col">Delivery Address</th>
          <th scope="col">Order Time</th>
          <th scope="col">Paid online?</th>
          <th scope="col">Order Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">{{order.id | slice:0:8}}</th>
          <td>{{order.clientName}}</td>
          <td>{{order.address}}</td>
          <td>{{order.orderTime}}</td>
          <td>{{order.paid}}</td>
          <td>{{order.status | uppercase}}</td>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <button (click)="forwardStatus()" class="w-30 btn btn-lg btn-warning" >Forward status (temp)</button>
    </div>
    <p></p>

    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <table class="table">
          <tbody>
          <tr>
            <th *ngFor="let status of statusCode">
              <p>{{statusView[statusCode.indexOf(status)]}}</p>
              <img *ngIf="order.status==status; else pendingOrPassed" alt="Responsive image" class="img-fluid"
                   src="assets/images/delivery-guy-in-bike.png">

              <ng-template #pendingOrPassed>
                <img *ngIf="statusCode.indexOf(status)>statusCode.indexOf(order.status); else passed"
                     alt="Responsive image" class="img-fluid" src="assets/images/pending-icon.png">
              </ng-template>
              <ng-template #passed>
                <img alt="Responsive image" class="img-fluid" src="assets/images/passed-icon.png">
              </ng-template>
            </th>
          </tr>
          </tbody>
        </table>
        <img alt="Responsive image" class="rounded mx-auto d-block" src="assets/images/track.png">
        <div class="col-md-3">
        </div>
      </div>

    </div>
    <!--          row 4x4x4-->
    <div class="row">
      <p></p>
      <div class="col-md-4"></div>
      <div class="col-md-2">
        <button (click)="closeTask()" [disabled]="order.status!='finished'" class="w-100 btn btn-lg btn-info" type="submit">End My Status Check</button>
      </div>
      <div class="col-md-2">
        <button (click)="closeIntervalSubscription()" [routerLink]="['/client']" class="w-100 btn btn-lg btn-secondary" skipLocationChange="true" >Back</button>
      </div>
      <div class="col-md-4">

      </div>
    </div>
    <p></p>
</div>
</div>
