<app-client></app-client>
<link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
<body class="text-center">
<div class="container-fluid">
  <!-- row 4x4x4-->
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <main>
        <h2 class="display-4 fw-normal">Actions Panel </h2>
        <p class="fs-5 text-muted">We are very happy to have you as customer! Please choose your next action in the menu
          below.</p>
        <p></p>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Order</h4>
              </div>
              <div class="card-body">
                <small class="text-muted fw-light">Here you can start your Order or continue where you left it. </small>
                <p></p>
                <button (click)="openDialog('600ms', '1000ms')" *ngIf="client_task == 'no_task'; else processStarted"
                        class="w-120 btn btn-lg btn-info" type="button">Start your process</button>
                <ng-template #processStarted>
                  <button [disabled]="client_task!='executeOrder'"
                          [routerLink]="['/client/order']" class="w-120 btn btn-lg btn-info" skipLocationChange
                          type="button">Continue your process</button>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Status</h4>
              </div>
              <div class="card-body">
                <small class="text-muted fw-light">Here you can follow your Order Status and stop being so
                  anxious!</small>
                <p></p>
                <button [disabled]="client_task!='endFollowUp'" [routerLink]="['/client/order-status']" class="w-120 btn btn-lg btn-info"
                        skipLocationChange type="button"
                >Check Status!
                </button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Feedback</h4>
              </div>
              <div class="card-body">
                <small class="text-muted fw-light">The final stage: give us your feedback about the whole
                  service</small>
                <p></p>
                <button [disabled]="client_task!='sendFeedback'" [routerLink]="['/client/feedback']" class="w-120 btn btn-lg btn-info"
                        skipLocationChange type="button"
                >Give feedback
                </button>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
</body>
